body {
	background: rgb(2,0,36);
	background: linear-gradient(rgba(255,155,36,1), rgba(18,23,181,1) 100%);
	text-align: center;
}

#title {
	background-color: black;
  	color: white;
  	text-align: center;
  	padding: 10px;
}

#survey {
	background-color: black;
	margin-top: 15px;
	margin-bottom: 100px;
  	padding: 20px;
  	float: center;
}

#pic{

}

form {
	padding: 20px;
	background-color: black;
	color: white;
	font-size: 20px;
}

footer {
	margin-top: 20px;
	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: black;
  	color: white;
  	text-align: center;
}

.likert li{
	float: center;
    list-style-type: none;
}